<div class="col-md-6 col-12 shadow sectionPriere mt-4 pt-2 pb-2 mb-2">
    <div class="text-center text-success fw-bold fst-italic mb-2">Frère RAFRINGA Olontsambatra ô !</div>
    <p class="ps-2 pe-2">
        <span class="me-4"></span>Mitalaho aminao aho, mba ampio amin'ny fiomanako hiatrika 
        ny ho aviko sy amin'ny fanadinana izay hataoko. Na dia miezaka 
        tamin-keri-po aza aho, dia matahotra ny hikorotan-tsaina sy 
        miahiahy ny tsy ho afaka mandray sy misaina araka ny tokony ho 
        izy. <br>
        <span class="me-4"></span>Torohy ahy sy ny tanora ary ny mpianatra tsara sitra-po rehetra 
        ny tsiambara-telonao tamin'ny fianarana sy ny fananganana fiainana 
        feno sady Masina. Ampio aho, ary omeo fahatokisan-tena hendry ho entiko
        mahita  valinteny sy valisoratra tsara sy marina amin'ny 
        fanadinana hatrehako. Tohano aho ary ampio ho kinga ny saiko eo
        am-piantrehana laza adina. <br>

        <span class="me-4"></span>Angatahiko aminao izany noho ny fitiavako an'i 
        <span class="fw-bold">JESOA HOSTIA</span> izay ho raisiko matetika 
        alohan'ny hiatrehako ny fanadinana, noho ny fitiavako an'i 
        <span class="fw-bold">MASINA MARIA</span> kintana mpitari-dalana sy 
        noho ny fitiavako an'i 
        <span class="fw-bold">Md JEAN BAPTISTE</span> de la salle, 
        mpampianatra sy mpanabe ny tanora sy ny mahantra. Ankiniko aminao 
        ny tenako, ary manantena aho fa tsy ho very maina ny fanantenako. 
        Tariho amin'ny lalan'ny Tompo aho rehefa vita ny fanadinana. Ampianaro 
        hahalala izay sitraky ny Ray. <br>
        <span class="text-secondary merci">" Misaotra ry <span class="fw-bold">Frère RAFRINGA</span> Olontsambatra, 
        zoky malala ô ". <i>Amen!</i></span>
    </p>
</div>
